{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}


<h3>Nova Categoria: </h3>

<div class="card">
    <div class="card-body">
        <form action="/admin/categorias/nova" method="POST">
        <label for="logradouro">Logradouro: </label>
            <input type="text" id="logradouro" name="logradouro" placeholder="Logradouro" class="form-control">
        <label for="cep">Cep: </label>
            <input type="text" name="cep" id="cep" placeholder="Cep" class="form-control">
            <br>
        <button type="submit" class="btn btn-success"> Criar categoria</button>
        </form>
    </div>
</div>